PORT=10000
DB_USER=your_mongodb_user
DB_PASS=your_mongodb_password
FIREBASE_SERVICE_ACCOUNT=your_base64_encoded_service_account_json
NODE_ENV=development
ACCESS_TOKEN_SECRET=your_jwt_secret_key_here
FLYBOOK_BASE_URL=http://localhost:3000
